/* container */
	#container {
		width: 300vw;
		position: absolute;
		top: 0px;
		left: 0px;
		transform: translateX(-100vw);
	}

	#notes, #story, #chats {
		float: left;
		width: 110vw;
		height: 100vh;
		text-align: center;
		box-shadow: 0px 0px 50px #000000 inset;
	}

	.content {
		width: 80vw;
		height: 100vh;
		text-align: center;
		float: left;
	}

	.header {
		padding: 10px;
		height: 60px;
		font-size: 50px;
		background-color: rgba(0,0,0,0);
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: default;
	}

/* slide controls */
	.slideContainer {
		width: 10vw;
		height: 100vh;
		color: #dddddd;
		float: left;
		text-shadow: 0px 0px 10px #aaaaaa;
		background-color: rgba(0,0,0,0);
	}

	.slideContainer:hover, .slideContainer:focus {
		text-shadow: 0px 0px 20px #dddddd;
	}

	.spacer {
		float: left;
		width: 10vw;
		height: 100vh;
	}

/* notes */
	#notes-input {
		min-width: calc(80vw - 20px);
		max-width: calc(80vw - 20px);
		min-height: calc(100vh - 100px);
		max-height: calc(100vh - 100px);
		padding: 10px;
		margin: 0px;
		resize: none;
		background-color: rgba(0,0,0,0);
		outline: none;
		color: #dddddd;
	}

/* chats */
	#chats-list {
		float: left;
		width: 80vw;
		height: calc(100vh - 80px - 60px);
		overflow-x: hidden;
		overflow-y: scroll;
		-ms-overflow-style: none;
	}

	.chat {
		width: 100%;
		border: 1px solid white;
		border-width: 1px 0px 0px 0px;
		margin: 10px 0px 10px 0px;
		float: left;
	}

	.chat-info {
		float: left;
		height: auto;
		width: 110px;
		margin: 0px;
		text-align: left;
		padding-right: 10px;
	}

	.chat-time {
		font-size: 15px;
	}

	.chat-text {
		float: left;
		height: auto;
		padding: 0px;
		width: calc(100% - 120px);
		margin: 0px;
		text-align: left;
	}

/* chats input */
	#chats-input {
		float: left;
		padding: 10px;
		height: 30px;
		width: calc(80vw - 20px);
		margin-bottom: 10px;
		background-color: rgba(0,0,0,0);
		color: #dddddd;
	}

	#chats-button {
		position: absolute;
		bottom: 0px;
		right: 0px;
		height: 50px;
		width: 50px;
		padding: 0px;
		vertical-align: bottom;
		margin-bottom: 10px;
		background-color: rgba(0,0,0,0);
		color: #dddddd;
		text-shadow: 0px 0px 10px #aaaaaa;
		user-select: none;
	}

	#chats-button:hover, #chats-button:focus {
		text-shadow: 0px 0px 20px #dddddd;
	}

/* story */
	#story {
		width: 80vw;
		z-index: 2;
	}

	#story .content {
		background-color: #dddddd;
		box-shadow: 0px 0px 30px #000000 inset;
		color: #333333;
	}

/* events */
	#event-list {
		height: calc(100vh - 100px);
		width: calc(100% - 20px);
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 10px;
	}

	.event {
		width: 100%;
		border: 1px solid #222222;
		border-width: 1px 0px 0px 0px;
		margin: 10px 0px 10px 0px;
		float: left;
	}

	.event-type {
		float: left;
		height: auto;
		width: auto;
		margin: 0px;
		text-align: left;
		font-size: 15px;
	}

	.event-time {
		float: right;
		font-size: 15px;
		color: #333333;
	}

	.event-text {
		float: left;
		height: auto;
		padding: 0px;
		width: 100%;
		margin: 0px;
		text-align: left;
		color: #222222;
		margin: 5px 0px 5px 0px;
	}

/* events inputs */
	.event-input {
		float: left;
		height: 30px;
		width: calc(100% - 65px);
		font-size: 25px;
		padding: 5px 10px 5px 10px;
		outline: none;
		background-color: rgba(0,0,0,0.2);
		cursor: pointer;
	}

	.event-input[disabled], .event-select[disabled], .event-button[disabled] {
		background-color: rgba(0,0,0,0);
		color: #777777;
	}

	.event-input.complete[disabled], .event-select.complete[disabled], .event-button.complete[disabled] {
		color: #222222;
	}

	.event-select {
		float: left;
		height: 40px;
		width: calc(100% - 45px);
		padding: 5px;
		background-color: rgba(0,0,0,0.2);
	}

	.event-button {
		float: left;
		height: 40px;
		padding: 5px;
		background-color: rgba(0,0,0,0.2);
		text-shadow: 0px 0px 10px #aaaaaa;
	}

	.event-button[value="submit"] {
		width: 40px;
		margin-left: 5px;
	}

	.event-button[value=true] {
		width: calc(50% - 5px);
		margin-right: 5px;
	}

	.event-button[value=false] {
		width: calc(50% - 5px);
		margin-left: 5px;
	}

	.event-button:hover:not([disabled]), .event-button:focus:not([disabled]), .event-input:focus:not([disabled]), .event-select:focus:not([disabled]) {
		background-color: rgba(0,0,0,0.2);
		box-shadow: 0px 0px 10px #111111;
	}
